*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 62.5%;
} */

/* FUENTES
font-family: 'Poppins', sans-serif; 
font-family: 'Golos Text', sans-serif;
*/

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: white;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: black;
}

h3{
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    color: black;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #585353;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
}

p{
    font-family: 'Golos Text', sans-serif;
    font-size: 20px;
    color: black;
}

a{
    text-decoration: none;
}

body{
    background-color: #52524E;
}

footer{
    background-color: black;
}

/* HEADER*/
.header-grid{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo-contenedor nav";
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem 1rem 3rem;
    /*padding: 20px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;*/
}

.logo-contenedor{
    display: flex;
    grid-area: logo-contenedor;
    align-items: center;
    gap: 1.5rem;
    /*display: flex;
    align-items: center;
    gap: 15px;*/
}

.logo-contenedor img{
    width: 100px;
    height: auto;
    
}

.nav{
    display: flex;
    grid-area: nav;
}

.barra-nav{
    display: flex;
    gap: 30px;
}

.barra-nav li{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.barra-nav li a{
    color: white;
    text-decoration: none;
}

/* MAIN */

.main-grid{
    /* padding: 10px 20px 20px 20px; */
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "seccion-bienvenidos"
    "seccion-deportes"
    "seccion-tablas";
    align-items: center;
    justify-content: space-between;
    margin: 2rem 3rem 1rem 3rem;
    gap: 2rem;
}

.seccion-bienvenidos{
    grid-area: seccion-bienvenidos;
}

.seccion-bienvenidos img{
    width: 100%;
    height: auto;
}

.seccion-deportes{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    grid-area: seccion-deportes;
}

.seccion-tablas img{
    width: 100%;
    height: auto;
}

.seccion-tablas{
    grid-area: seccion-tablas;
}

.lancha-park-grid{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "w-lancha w-park";
    gap: 5rem;
    justify-content: space-between;
    text-align: center;
}

.w-lancha{
    grid-area: w-lancha;
}

.w-park{
    grid-area: w-park;
}

/* FOOTER */

.footer-contenedor{
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.logos-sociales{
    display: flex;
    gap: 5px;
}

.formulario{
    display: flex;
    gap: 5px;
}

/*LANCHA Y PARK */

.seccion-lp img{
    width: 100%;
    height: auto;
}

.articulo-lp{
    background-color: #c9c8c8;
    padding: 20px;
    margin-top: 20px;
}

.imagen-texto{
    display: flex;
    align-items: center;
    gap: 30px;
}

.imagenes-tablas img{
    width: 100%;
    height: auto;
}

.seccion-local img{
    width: 100%;
    height: auto;
}

.seccion-contactos{
    display: flex;
    background-color: #c9c8c8;
    padding: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

/* MEDIA QUERYS */

/* @media(max-width: 768px){
    .header-grid{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(1, auto);
        grid-template-areas: 
        "logo-contenedor"
        "nav";
        justify-items: center;
    }
}

@media(max-width: 320px){
    .header-grid{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(1, auto);
        grid-template-areas: 
        "logo-contenedor"
        "nav";
        justify-items: center;
    }
} */