@media (min-width: 769px) and (max-width: 1024px){
    .header-grid{
        @include grid (repeat(2, auto), repeat(1, 1fr), "logo-contenedor" "nav", center, space-between);
        .logo-contenedor{
            justify-content: center;
            a{
                h1{
                    font-size: 1.8rem;
                }
                img{
                    width: 5rem;
                }
            }
        }
        .nav{
            width: 100%;
            .barra-nav{
                justify-content: center;
                width: 100%;
                li{
                    font-size: 1.8rem;
                }
            }
        }
    }
    .main-grid{
        h2{
            font-size: 1.7rem;
        }
        h3{
            font-size: 1.6rem;
        }
        p{
            font-size: 1.2rem;
        }
        .seccion-bienvenidos{
            width: 100%;

            height: auto;
        }
        .seccion-deportes{
            .lancha-park-grid{
                .w-lancha{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
                .w-park{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .seccion-tablas{
            a{
                img{
                    width: 100%;
                }
            }
        }
        .articulo-lp{
            .imagen-texto{
                gap: 3rem;
                .imagen{
                    margin-left: 5rem;
                }
            }
        }
        .imagenes-tablas{
            img{
                width: 100%;
            }
        }
    }
    .main-contenedor{
        .seccion-local{
            img{
                width: 100%;
            }
        }
        .seccion-contactos{
            .columna2{
                .img1-contactos-col2{
                    margin: 0.5rem;
                }
                .img2-contactos-col2{
                    margin: 0.5rem;
                }
                img{
                    width: 18rem;
                }
            }
        }
    }
    .footer-grid{
        width: 100%;
        h4{
            font-size: 1.5rem;
        }
        h5{
            font-size: 1.5rem;
        }
        .columna1-footer{
            .logo-contenedor{
                a{
                    img{
                        width: 5rem;
                    }
                    h1{
                        font-size: 2rem;
                    }
                }
            }
            div{
                .logos-sociales{
                    display: flex;
                    img{
                        width: 3.6rem;
                    }
                }
            }
        }
        .columna3-footer{
            div{
                .formulario{
                    input{
                        width: 8rem;
                    }
                }
            }
        }
    }
}