@media (min-width: 1025px) and (max-width: 1440px){
    .header-grid{
        @include grid (repeat(1, 1fr), repeat(2, 1fr), "logo-contenedor nav", center, space-between);
        .logo-contenedor{
            a{
                img{
                    width: 6rem;
                }
                h1{
                    font-size: 2.5rem;
                }
            }
        }
        .nav{
            .barra-nav{
                li{
                    font-size: 2rem;
                }
            }
        }
    }
    .main-grid{
        .seccion-bienvenidos{
            width: 100%;
            height: auto;
        }
        .seccion-deportes{
            .lancha-park-grid{
                .w-lancha{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
                .w-park{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .seccion-tablas{
            a{
                img{
                    width: 100%;
                }
            }
        }
        .imagenes-tablas{
            img{
                width: 100%;
            }
        }
    }
    .main-contenedor{
        .seccion-local{
            img{
                width: 100%;
            }
        }
        .seccion-contactos{
            .columna2{
                .img1-contactos-col2{
                    margin: 0.5rem;
                }
                .img2-contactos-col2{
                    margin: 0.5rem;
                }
            }
        }
    }
    .footer-grid{
        width: 100%;
    }
}