@media (min-width:426px) and (max-width:560px){
    .header-grid{
        justify-content: center;
        .nav{
            .barra-nav{
                li{
                    font-size: 0.75rem;
                }
            }
        }
    }
    .main-grid{
        .seccion-deportes{
            .lancha-park-grid{
                flex-direction: column;
                .w-lancha{
                    a{
                        img{
                            width: 100%;
                            height: 10rem;
                        }
                    }
                }
                .w-park{
                    a{
                        img{
                            width: 100%;
                            height: 10rem;
                        }
                    }
                }
            }
        }
    }
    .footer-grid{
        @include grid (repeat(3, auto), repeat(1, 1fr), "columna1-footer" "columna2-footer" "columna2-footer", center, space-between);
        .columna3-footer{
            margin: 0px;
        }
    }
}